# Wildberries
WB_TIMEZONE=Europe/Moscow
WB_TOKEN=your_wb_token
WB_BASE_MARKET_URL=https://marketplace-api.wildberries.ru
WB_BASE_CONTENT_URL=https://content-api.wildberries.ru

# Telegram
TG_BASE_URL=https://api.telegram.org/bot
TG_BOT_TOKEN=your_telegram_bot_token
TG_CHAT_ID=your_chat_id
TG_PROXY=your_proxy_if_exists
